@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#search {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#text {
    height: 30px;
    width: 25%;
    margin-right: 15px;
    border-radius: 5px;
    text-align: center;
    background-color: #F3F3F3;
    border: 1px solid #3D4449;
}

#btn {
    border-radius: 10px;
    width: 80px;
    padding: 6px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #09b069;
    background-color: #09b069;
    cursor: pointer;
}

#data-table {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

table thead {
    background-color: #1ed2b3;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

#header {
    background-color: #0c8d81;
}

table th,
table td,
table tr {
    padding: 8px;
    border-bottom: 1px solid rgb(72, 80, 85);
}

table th {
    width: 200px;
}